Hi <%= current_user.avatar_name %>! Edit your Profile!
f

<%= form_for @profile, html: {multipart: true } do |f| %>
	<div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

	<div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>

<%= button_to "Update", sweat_path(current_user.sweat), method: :put %>

<% end %>
  